<%= form_for(media_storage, layout: :basic) do |f| %>
  <% if media_storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(media_storage.errors.count, "error") %> prohibited this media_storage from being saved:</h2>

      <ul>
      <% media_storage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.file_field :file, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
