<div class="container">

  <h2 class="blank-heading text-xs-center"><%= link_to @page_section.page.title, @page_section.page %> / <%= @page_section.title %></h2>
  <p class="text-xs-center action"><%= link_to 'Back', page_sections_path, class: "btn btn-outline-primary" %> <%= link_to 'Edit', edit_page_section_path(@page_section), class: "btn btn-outline-primary" %></p>

  <div class="card">
    <div class="card-block">
      <p>
        <strong>Page:</strong>
        <%= @page_section.page_id %>
      </p>
      <p>
        <strong>Order:</strong>
        <%= @page_section.order %>
      </p>
      <p>
        <strong>Title:</strong>
        <%= @page_section.title %>
      </p>
      <p>
        <strong>Body:</strong>
        <%= @page_section.body %>
      </p>
    </div>
  </div>

</div>
