<div class="container">

<% if @page.present? %>

<% @page.page_sections.order(:order).each do |section| %>
<% if section.title.starts_with?("STARS") %>
</div>
<div class="stars">
<%= mdrender(section.body).html_safe %>
</div>
<br>

<div class="container">
<% elsif section.title.starts_with?("VIDEO") %>
<h2 class="blank-heading text-xs-center"><%= section.title.sub('VIDEO ', "").html_safe %></h2>
<br>
</div>
<div class="container-fluid video-box">
<div class="inside">
<div class="embed-responsive embed-responsive-16by9">
<%= mdrender(section.body).html_safe %>
</div>
</div>
</div>

<br>

<div class="container">
<% else %>
<h2 class="blank-heading text-xs-center"><%= section.title.html_safe %></h2>
<div class="row top-pad mainrow">
<%= mdrender(section.body).html_safe %>
</div>
<% end %>
<% end %>
</div>
<h2 class="blank-heading text-xs-center" style="margin-top: 0px;">Join colleagues from around the globe...</h2>
<br>
<div id='map' style='width: 100%; height: 500px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYWlkYW5jb3JuZWxpdXMiLCJhIjoiY2lodTVxMDB4MDFpdnRsbTF4b3pxYnFoYiJ9.VE8fqf6mAQit6zIc8Qo7sw';
var map = new mapboxgl.Map({container: 'map', maxZoom: 1.5, minZoom: 1.5, interactive: false, style: 'mapbox://styles/aidancornelius/ciy3z7e1i000n2rn4zxfycl5q'});
</script>
<br>
<p class="text-xs-center">
<a href="<%= new_user_registration_path %>" class="btn btn-lg btn-outline-primary">Let's get started!</a>
</p>
<% else %>

<%= @render.html_safe %>

<% end %>
<br>

<script>
var options = {
  useEasing : true,
  useGrouping : true,
  separator : ',',
  decimal : '.',
  prefix : '',
  suffix : ''
};
var counter = new CountUp("counteR", 0, 857, 0, 50, options);
counter.start();
</script>
