<% title "School, Site & PLC Purchasing" %>
<% description "Are your staff, or a group of them, working on improving their pedagogical and assessment practices? Are they new to formative assessment, or looking to extend their strategies and feedback processes?" %>
<div class="stars">
  <h2 class="text-xs-center">Buy Assessment Ninja for your school</h2>
</div>
<h2 class="blank-heading text-xs-center">Save 20% for schools, sites, or teacher communities!</h2>
<div class="container">
  <div class="row top-pad mainrow">
    <div class="col-xs-12">
      <h3>School / Site Purchasing</h3>
      <p>Are your staff, or a group of them, working on improving their pedagogical and assessment practices?</p>
      <p>Are they looking to increase student’s voice or agency in their learning?</p>
      <p>Are they new to formative assessment, or looking to extend their strategies and feedback processes?</p>
      <br>
      <p>Assessment Ninja is available to individual teachers for US$110, but it is available to school groups for just <strong>US$88/person</strong>.</p>
      <p>Please fill in the form below to purchase memberships for your staff, and we will get back to you as soon as possible.</p>
      <p>Please note: Assessment Ninja purchases are non-transferable. Additional school purchases are available at the same discounted rate.</p>
      <hr>
      <%= form_for(@school_purchase, layout: :basic) do |f| %>
        <% if @school_purchase.errors.any? %>
          <div id="error_explanation" class="data">
            <h2><%= pluralize(@school_purchase.errors.count, "error") %> prohibited this purchase order from being saved:</h2>

            <ul>
            <% @school_purchase.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <p class="text-xs-center"><a href="<%= new_user_registration_path %>" class="btn btn-outline-primary">Looking to sign up as an individual?</a> <a href="#" class="btn btn-outline-success" data-toggle="modal" data-target="#renewModal">Already purchased as a school?</a> <a href="mailto:hello@assessmentninja.com" class="btn btn-outline-info">Need something different?</a></p>
        <hr>
        <div class="field">
          <%= f.text_field :school_name %>
        </div>

        <div class="field">
          <%= f.text_area :billing_address %>
        </div>

        <div class="field">
          <%= f.text_field :contact_name, label: "Your name" %>
        </div>

        <div class="field">
          <%= f.text_field :contact_email, label: "Your email" %>
        </div>

        <div class="field">
          <%= f.text_field :contact_phone, label: "Your phone number (+44 000 000 000 format please)" %>
        </div>

        <div class="field">
          <%= f.text_area :questions, label: "Any questions?" %>
        </div>

        Teachers to add (automatically adds more spaces) - <span id="teacher_count">0</span> teachers
        <div class="field row" id="user_keys">
          <div class="col-xs-4">
            <input placeholder="First name" class="form-control dat" type="text" id="fn_1" required>
          </div>
          <div class="col-xs-4">
            <input placeholder="Last name" class="form-control textadd dat" type="text" id="ln_1" data-entry="1" required>
          </div>
          <div class="col-xs-4">
            <input placeholder="Email address" class="form-control dat" type="text" id="em_1" required>
          </div>
        </div>

        <p><br><a href="#" id="doneAdding" class="btn btn-primary">I'm done adding teachers</a></p>

        <div class="field">
          <%= f.hidden_field :data %>
        </div>

        <div class="field">
          <%= f.hidden_field :number_of_teachers %>
        </div>

        <div class="field">
          <%= f.hidden_field :code %>
        </div>

        <h2 class="text-xs-center"><span id="priceEstimate"></span></h2>

        <div class="actions">
          <%= f.submit(value: "Submit Purchase Order", class: "btn btn-outline-primary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="renewModal" tabindex="-1" role="dialog" aria-labelledby="renewModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="renewModal">Already purchased</h5>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" id="modalDanger"><strong>Oops</strong> that school code doesn't look right.</div>
        <p><strong>Your repeat business is greatly appreciated</strong>. Please enter your school's unique purchase order code below (if you don't know, don't worry - we manually check for existing schools):</p>
        <input type="text" class="form-control" placeholder="School Code" id="existingSchoolCode" autofocus>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="checkCode">Check Code</button>
      </div>
    </div>
  </div>
</div>


<script>
  var total = 0;

  $("#modalDanger").hide();

  $("#checkCode").click(function() {
    $("#modalDanger").show();
    console.log($("#existingSchoolCode").val());
    $.ajax({
      dataType: "json",
      url: "/school/check_code",
      data: "code=" + $("#existingSchoolCode").val(),
      success: function( data ) {
        console.log( data )
        if (data["school_name"].length >= 1) {
          $("#school_purchase_school_name").val(data["school_name"]);
          $("#school_purchase_billing_address").val(data["billing_address"]);
          $("#school_purchase_contact_name").val(data["contact_name"]);
          $("#school_purchase_contact_email").val(data["contact_email"]);
          $("#school_purchase_contact_phone").val(data["contact_phone"]);
        }
        $("#renewModal").modal('hide');
      }
    });
  });

  $("#doneAdding").click(function() {
    saveTeachers();
    $(".dat").each( function() { $(this).attr("disabled","true") } );
    $(this).attr("disabled","true");
    $(this).addClass("disabled");
    $(this).html("Teachers Saved")
    $("html, body").animate({ scrollTop: $(document).height() }, 20);
    $("#number_of_teachers").val(total);
    $("#fn_" + (total + 1)).hide();
    $("#ln_" + (total + 1)).hide();
    $("#em_" + (total + 1)).hide();
    $("#priceEstimate").html("Approximately $" + ( total * 88 )  + " (US)");
  });

  function saveTeachers() {
    if (total >= 1) {
      var count = 1;
      var set = 1;
      var data = {};
      $( ".dat" ).each(function( index ) {
        if (count == 1) { data[set] = {}; data[set]["firstname"] = $(this).val() }
        else if (count == 2) { data[set]["lastname"] = $(this).val() }
        else if (count == 3) { data[set]["email"] = $(this).val() }
        if (count >= 3) {
          count = 1;
          set = set + 1;
        } else {
          count++;
        }
      });
      console.log(data)
      $("#school_purchase_data").val(JSON.stringify(data));
    }
  }

  function addBindChange() {
   $('input:text').bind('change', function() {
     if ($(this).hasClass("textadd")) {
       total = $(this).data("entry");
       $('<div class="col-xs-4"><input placeholder="First name" class="form-control dat" type="text" id="fn_' + ($(this).data("entry") + 1) + '"></div><div class="col-xs-4"><input placeholder="Last name" class="form-control textadd dat" type="text" id="ln_' + ($(this).data("entry") + 1) + '" data-entry="' + ($(this).data("entry") + 1) + '"></div><div class="col-xs-4"><input placeholder="Email address" class="form-control dat" type="text" id="em_' + ($(this).data("entry") + 1) + '"></div>').appendTo("#user_keys");
       addBindChange();
       $("#teacher_count").html(total);
       $("#number_of_teachers").val(total);
     }
   });
  }
  $(".textadd").change( function() {
    total = $(this).data("entry");
    $('<div class="col-xs-4"><input placeholder="First name" class="form-control dat" type="text" id="fn_' + ($(this).data("entry") + 1) + '"></div><div class="col-xs-4"><input placeholder="Last name" class="form-control textadd dat" type="text" id="ln_' + ($(this).data("entry") + 1) + '" data-entry="' + ($(this).data("entry") + 1) + '"></div><div class="col-xs-4"><input placeholder="Email address" class="form-control dat" type="text" id="em_' + ($(this).data("entry") + 1) + '"></div>').appendTo("#user_keys");
    addBindChange();
    $("#teacher_count").html(total);
    $("#number_of_teachers").val(total);
  });
</script>
