<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @course.slug %>
</p>

<p>
  <strong>Product:</strong>
  <%= if @course.product.present? then @course.product.title else "No association" end %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
