<% title @component.title %>
<div class="container">
  <%= render "course" %>

  <h2 class="blank-heading text-center"><%= @component.title %></h2>
  <p class="text-center"><a href="/course/<%= "#{params[:course_slug]}" %>/modules/" class="btn btn-outline-secondary">↑ Modules</a> <%= render partial: "fwdbck" %> <%= render partial: "completion" %> <% if current_user.administrator? %><%= link_to "Edit Component", edit_lesson_component_path(@component), class: "btn btn-outline-danger" %><% end %></p>

  <% if @component.feature? %>
  <div class="clearfix"></div>
  <div class="featured" style="background-image: url('<%= @component.feature.expiring_url(50, :xxlarge) %>');">
  </div>
  <% end %>
  <div class="row top-pad content<% if @component.feature? %> hasfeature<% end %>">
    <div class="col-12">
      <%= mdrender(@component.body).html_safe %>
    </div>
  </div>

  <p class="text-center"><%= render partial: "fwdbck" %> <%= render partial: "completion" %></p>
  <%= render partial: "progress" %>

  <% if @discussion %>
  <%= render partial: "discussion" %>
  <% else %>
  <br>
  <% end %>

</div>
