<div class="container">

  <h2 class="blank-heading text-xs-center"><%= @image.title %></h2>
  <p class="text-xs-center action"><%= link_to 'Back', images_path, class: "btn btn-outline-primary" %> <%= link_to 'Edit', edit_image_path(@image), class: "btn btn-outline-primary" %></p>

  <div class="card">
    <div class="card-block">
      <p>
        <% if @image.image? %><span class="text-success">✔</span>
        <strong>Markdown (embed tag)</strong>
        <input type="text" class="form-control" value="![<%= @image.title %>](/ai/<%= @image.id %>)" readonly>
        <br>
        <strong>Image URL:</strong>
        <input type="text" class="form-control" value="<%= @image.image.expiring_url(20) %>)" readonly>
        <% else %>
        <span class="text-danger">This image is NOT Present.</span>
        <% end %>
      </p>

      <hr>
      <h3>Image Properties</h3>
      <p>
        <strong>Image Props:</strong>
        <%= @image.image.inspect %>
      </p>

      <p>
        <strong>Image URL:</strong>
        <%= @image.image.expiring_url(20) %>
      </p>


    </div>
  </div>

</div>
